
.pageParent{
  height: 600px;
  width: 1050px;
  border: 3px solid lightyellow;
  display: flex;
  position: relative;
  left: 30px;
  background-color: rgb(224, 247, 187);

}
.hansel{
  font-size: 1.2rem;
  text-align: center;
}
.statsContainer {
  position: relative;
  height: 550px;
  width: 140px;
  border: 4px solid white;
  background-color: lightsalmon;
  font-size: 14px;
  margin: 20px;


}
.statsBox {
display: flex;
height: 70px;
width: 110px;
border: 3px solid lightsteelblue ;
margin: 10px;
margin-left: 5px;
text-align: center;
color: darkgreen;
font-size: 1.7rem;
justify-content: center;
vertical-align: middle;


}

#averageClick{
  
}
.modal {
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 20%;
  width: 300px;
  height: 100px;
  background-color: cornflowerblue;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid rgb(2, 2, 2);
  border-radius: 4px;
  background-image: url("mugatu.jpg");
  background-size: cover;
  font-size: 2rem;
  color: lightblue;
  text-shadow: darkblue;
}

.winnermodal {
  position: fixed;
  z-index: 2;
  left: 30%;
  top: 10%;
  width: 300px;
  height: 300px;
  background-color: rgb(235, 27, 200);
  text-decoration-line: orange;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border: 15px solid rgb(2, 2, 2);
  border-radius: 50%;
  background-image: url("zooBlue.jpg");
  background-size: cover;
  font-size: 2rem;
  color: orange;

}

.cardContainer{
  height: 550px;
  width: 800px;
  border: 3px solid lightcyan;
  background-color: wheat;
  margin: 20px;
}

.card{
  height: 150px;
  width: 100px;
  background-color: lightskyblue;
  display: inline-block;
  border: 4px solid lightpink;
  margin: 10px;
  position: relative;
  justify-content: center;

}

.cardChildTop {
  background-size: cover;
   width: 100px;
  height: 150px;
  position: absolute;
  justify-content: center;

}

.cardChildBottom, .piclfz, .pic1, .pic2, .pic3, .pic4, .pic5, .pic6{
  background-size: cover;
   width: 100px;
  height: 150px;
  position: absolute;
}

.pic1{
  background-image: url("../images/pic1.jpg");
  background-position: center;
}
.pic2{
  background-image: url("../images/pic2.jpg");
  background-position: center;
}
.pic3{
  background-image: url("../images/pic3.jpg");
  background-position: center;
}
.pic4{
  background-image: url("../images/pic4.jpg");
  background-position: center;
}
.pic5{
  background-image: url("../images/pic5.jpg");
  background-position: center;
}
.pic6{
  background-image: url("../images/pic6.jpg");
  background-position: center;
}
.pic7{
  background-image: url("../images/pic7.jpg");
  background-position: center;
}
.pic8{
  background-image: url("../images/pic8.jpg");
  background-position: center;
}
.pic9{
  background-image: url("../images/pic9.jpg");
  background-position: center;
}
.pic11{
  background-image: url("../images/pic11.jpg");
  background-position: center;
}
.pic14{
  background-image: url("../images/pic14.jpg");
  background-position: center;
}
.pic15{
  background-image: url("../images/pic15.jpg");
  background-position: center;
}
.piclfz{
   background-image: url("../images/lfz-card.jpg");
}
.hidden{
  display: none;
}
